@import "vendor/shepherd.css";

body {
	background: #fff;

	#wpcontent {
		padding-left: 0;
	}
}

.rev-gen-layout-wrapper {
	width: 100%;
	color: #1d1d1d;
	font-family: "Helvetica Neue", serif;
	min-height: 750px;

	.shepherd-target {
		background-color: #fff;
	}
}

.rev-gen-no-data {
	width: 100%;
	color: #ec0b00;
	font-family: "Helvetica Neue", serif;
	display: flex;
	justify-content: center;
	min-height: 550px;

	p {
		height: 20px;
		font-size: 20px;
	}
}

.rev-gen-tutorial-card {
	width: 200px;
	height: 130px;
	background-color: #1e1e1e;
	color: #fff;
	padding: 15px 10px;
	border-radius: 5px;
	z-index: 999;

	.info-link {
		color: #fff;
		text-decoration: underline;
	}

	.shepherd-arrow {
		color: #000;
	}

	.shepherd-text {
		padding: 5px;
	}

	.shepherd-button {
		background: transparent;
		color: #fff;
		text-transform: uppercase;
		border: 0;
		cursor: pointer;
		margin-right: 20px;
		padding: 0;
		margin-left: 5px;
	}

	.shepherd-footer {
		position: absolute;
		bottom: 10px;
	}
}

.shepherd-content-add-space {

	&-top {
		top: 10px !important; /* stylelint-disable-line declaration-no-important */
	}

	&-bottom {
		bottom: 10px !important; /* stylelint-disable-line declaration-no-important */
	}
}

.rev-gen-powered-by-footer {
	color: #808080;
	margin-left: 15px;
}

.shepherd-modal-overlay-container {
	display: none;
}

.blury {
	opacity: 0.5;
	z-index: -1;
}

#wpfooter {
	display: none;
}

#wpbody-content {
	padding-bottom: 0;
}
