@import "vendor/shepherd.css";

body {
	background: #fff;

	#wpcontent {
		padding-left: 0;
	}
}

.rev-gen-layout-wrapper {
	width: 100%;
	color: #1d1d1d;
	font-family: HelveticaNeue, serif;
	min-height: 750px;

	.shepherd-target {
		background-color: #fff;
	}

	button,
	a {
		&:focus {
			outline: 0;
			box-shadow: none;
		}
	}

}

.rev-gen-no-data {
	width: 100%;
	color: #ec0b00;
	font-family: HelveticaNeue, serif;
	display: flex;
	justify-content: center;
	min-height: 550px;

	p {
		height: 20px;
		font-size: 20px;
	}
}

.rev-gen-tutorial-card {
	width: 200px;
	height: 130px;
	background-color: #1e1e1e;
	color: #fff;
	padding: 15px 10px;
	border-radius: 5px;
	z-index: 999;

	.info-link {
		color: #fff;
		text-decoration: underline;
	}

	.shepherd-arrow {
		color: #000;
	}

	.shepherd-text {
		padding: 5px;
		min-height: 35px;
		font-family: HelveticaNeue, serif;
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.25;
		letter-spacing: normal;
		color: #fff;
		a {
			color: #fff;
		}
	}

	.shepherd-button {
		background: transparent;
		color: #fff;
		text-transform: uppercase;
		border: 0;
		cursor: pointer;
		padding: 0;
		font-family: HelveticaNeue, serif;
		font-size: 14px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.29;
		letter-spacing: normal;
	}

	.shepherd-footer {
		position: absolute;
		bottom: 20px;
		right: 0;
	}

	.shepherd-content-skip-tour {
		position: relative;
		right: 80px;
		font-family: HelveticaNeue, serif;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.29;
		letter-spacing: normal;
		color: #fff;
	}

	.shepherd-content-complete-tour-element {
		position: relative;
		left: -15px;
	}

	.shepherd-content-next-tour-element {
		position: relative;
		left: -15px;
	}
}

.rev-gen-tutorial-title {
	height: auto;
}

.rev-gen-tutorial-contribution-title {
	height: auto;
	padding: 20px;
	.shepherd-footer {
		bottom: 10px;
		.shepherd-content-skip-tour {
			right: 100px;
		}
	}
}

.shepherd-content-add-space {

	&-top {
		top: 10px !important; /* stylelint-disable-line declaration-no-important */
	}

	&-bottom {
		bottom: 10px !important; /* stylelint-disable-line declaration-no-important */
	}
}

.rev-gen-powered-by-footer {
	color: #808080;
	margin-left: 15px;
	position: fixed;
	bottom: 10px;
	z-index: -1;
	min-width: 180px;
	a {
		display: inline;
	}
	img {
		position: relative;
		top: -2px;
		max-width: 90px;
		vertical-align: middle;
	}
}

.shepherd-modal-overlay-container {
	display: none;
}

.blury {
	opacity: 0.5;
	z-index: -1;
}

#wpfooter {
	display: none;
}

#wpbody-content {
	padding-bottom: 0;
}
.hide {
	display: none;
}

.rev-gen__select2 {
	+ .select2-container {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-radius: 0;
		border-bottom: 2px solid #1e1e1e;
		font-size: 16px;
		font-weight: 400;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #1e1e1e;
		padding: 0 24px 0 0;
		&:focus {
			border-color: #1e1e1e;
			color: #1e1e1e;
			box-shadow: 0 0 0 1px #1e1e1e;
		}

		.select2-selection {
			border: 0;
			&__arrow {
				background: #fff url(../img/select-down.svg) no-repeat right 5px top 55%;
				background-size: 13px 8px;
				b {
					display: none;
				}
			}
			&:focus {
				outline: 0;
			}
		}

		input.select2-search__field {
			line-height: 24px;
			height: auto;
			min-height: auto;
			margin-top: 0;
			color: #1d1d1d;
			&::placeholder {
				color: #1d1d1d;
			}
		}

		.select2-selection--multiple {
			.select2-selection {
				&__choice {
					font-size: 13px;
					color: #fff;
					border: 1px solid #2e2e2e;
					background-color: #2e2e2e;
					&__remove {
						color: #fff;
						&:hover {
							color: #fff;
						}
					}
				}
			}
		}
	}

	&--arrow-up + .select2-container {
		.select2-selection {
			&__arrow {
				transform: rotate(180deg);
			}
		}
	}
}

.rev-gen__select2 {
	&.select2-dropdown {
		min-width: 160px;
		border: 0;
		border-radius: 0;
		background-color: #2e2e2e;
	}

	&--searchable.select2-dropdown {
		width: 180px !important; /* stylelint-disable-line declaration-no-important */
	}

	.select2-results__option,
	.select2-results__option[aria-selected],
	.loading-results {
		padding: 7px 35px 7px 20px;
		color: #999;
		&:first-child {
			padding-top: 14px;
		}
		&:last-child {
			padding-bottom: 14px;
		}
	}

	.select2-results__option[aria-selected="true"],
	.select2-results__option--highlighted[aria-selected] {
		color: #fff;
		background-color: transparent !important; /* stylelint-disable-line declaration-no-important */
	}

	.select2-results__option[aria-selected="true"]::after {
		content: "";
		position: absolute;
		right: 15px;
		display: block;
		width: 12px;
		height: 12px;
		background: url(../img/icon-check.svg) no-repeat;
		background-size: 100%;
		transform: translateY(-13px);
	}

	&--no-search {
		.select2-search {
			display: none;
		}
	}

	.select2-results__message {
		padding: 14px 20px 10px;
		color: #999;
	}
}

.rev-gen__button {
	padding: 7px 30px;
	border: 2px solid #fff;
	background-color: #1d1d1d;
	color: #fff;
	border-radius: 4px;
	font-weight: 500;
	font-size: 17px;
	text-decoration: none;
	&:hover,
	&:active,
	&:focus {
		color: #fff;
	}
	&--secondary {
		border: 2px solid #1d1d1d;
		background-color: #fff;
		color: #1d1d1d;
		&:hover,
		&:active,
		&:focus {
			color: #1d1d1d;
		}
	}
	&--help {
		font-size: 14px;
	}
}

// Fade In.
.fade-in {
	animation: fadeIn ease 0.8;
	-webkit-animation: fadeIn ease 0.8s;
	-moz-animation: fadeIn ease 0.8s;
	-o-animation: fadeIn ease 0.8s;
	-ms-animation: fadeIn ease 0.8s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// Fade Out.
.fade-out {
	animation: fadeOut ease 0.8s;
	-webkit-animation: fadeOut ease 0.8s;
	-moz-animation: fadeOut ease 0.8s;
	-o-animation: fadeOut ease 0.8s;
	-ms-animation: fadeOut ease 0.8s;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
