body {
	background: #FFFFFF;

	#wpcontent {
		padding-left: 0;
	}
}

.rev-gen-layout-wrapper {
	width: 100%;
	color: #1D1D1D;
	font-family: Helvetica Neue, serif;
	min-height: 750px;
}

.rev-gen-footer {
	color: grey;
	margin-left: 15px;
}

#wpfooter {
	display: none;
}

#wpbody-content {
	padding-bottom: 0;
}
