@import "objects/laterpay_icons";
@import "objects/laterpay_fonts";
@import "./pages/post-preview";

/* stylelint-disable declaration-no-important */
i.mce-i-laterpay-logo::before,
#adminmenu div.wp-menu-image.dashicons-laterpay-logo::before { // WordPress selector
	content: "b" !important;
	font-family: laterpay-wordpress-icons, serif !important;
}
/* stylelint-enable declaration-no-important */

.rev-gen-footer {
	position: fixed;
	bottom: 10px;
	z-index: -1;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: #808080;
	span {
		display: inline-block;
		margin-right: 5px;
	}
	img {
		width: 80px;
		vertical-align: middle;
	}
}
