@import './variables';

body {
	background: #FFFFFF;

	#wpcontent {
		padding-left: 0;
	}
}

.rev-gen-layout_wrapper {
	display: flex;
	justify-content: center;
	min-height: 100%;

	// Main welcome screen.
	.welcome-screen-wrapper {
		margin-top: 5%;
		font-family: $font-family;
		min-height: 600px;
		font-size: 14px;
		text-align: center;
		width: 50%;

		.welcome-screen {
			&--heading {
				font-size: 30px;
			}

			&--sub-heading {
				font-size: 18px;
				font-weight: 400;
			}

			&__description {
				font-size: 15px;
			}
		}

		.welcome-screen-question {
			&--sub-heading {
				font-size: 18px;
				margin: 0;
			}

			&--description {
				font-size: 15px;
				margin: 0;
			}
		}

		.welcome-screen-publish-questionnaire {
			margin-top: 50px;
			&--heading {
				font-size: 15px;
				font-weight: 600;
			}
		}
	}
}

#wpfooter {
	display: none;
}
