// Internally used fonts.
@font-face {
	font-family: "LaterPay WorkSans";
	src: url(../fonts/WorkSans-SemiBold.ttf);
}

@font-face {
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticaNeue.ttf);
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticaNeue-Medium.ttf);
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticaNeue-Bold.ttf);
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}
