// Internally used fonts.
@font-face {
	font-family: "LaterPay WorkSans";
	src: url(../fonts/worksans-variable.ttf);
}

@font-face {
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticNeue/HelveticaNeue-Italic.eot);
	src:
		url(../fonts/HelveticNeue/HelveticaNeue-Italic.woff2) format("woff2"),
		url(../fonts/HelveticNeue/HelveticaNeue-Italic.woff) format("woff"),
		url(../fonts/HelveticNeue/HelveticaNeue-Italic.ttf) format("truetype");
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticNeue/HelveticaNeue.eot);
	src:
		url(../fonts/HelveticNeue/HelveticaNeue.woff2) format("woff2"),
		url(../fonts/HelveticNeue/HelveticaNeue.woff) format("woff"),
		url(../fonts/HelveticNeue/HelveticaNeue.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticNeue/HelveticaNeue-Medium.eot);
	src:
		url(../fonts/HelveticNeue/HelveticaNeue-Medium.woff2) format("woff2"),
		url(../fonts/HelveticNeue/HelveticaNeue-Medium.woff) format("woff"),
		url(../fonts/HelveticNeue/HelveticaNeue-Medium.ttf) format("truetype");
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticNeue/HelveticaNeue-Bold.eot);
	src:
		url(../fonts/HelveticNeue/HelveticaNeue-Bold.woff2) format("woff2"),
		url(../fonts/HelveticNeue/HelveticaNeue-Bold.woff) format("woff"),
		url(../fonts/HelveticNeue/HelveticaNeue-Bold.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}
