// Welcome card styling.
.rg-card {
	border-radius: 4px;
	background-color: #fff;
	border: 2px solid #1d1d1d;
	box-sizing: border-box;
	position: relative;
	display: flex;
	width: 263px;
	height: 229px;
	justify-content: center;
	margin: 0 25px;
	cursor: pointer;

	&--title {
		position: absolute;
		bottom: 20px;
		font-family: HelveticaNeue, serif;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		text-align: center;
		color: #1d1d1d;
		margin: 0;
		width: 150px;
		height: 54px;
		b {
			font-weight: bold;
		}
	}

	&--icon {
		position: absolute;
		top: 55px;
		max-width: 80%;
	}
}
