// Purchase overlay and its elements.
.rg-purchase-overlay {
	position: absolute;
	top: 25%;
	text-align: center;
	letter-spacing: 0;
	margin: 0 20%;
	color: initial;
	line-height: initial;
	width: 60%;
	display: none;

	&-info {
		margin-bottom: 10px;
	}

	&-title {
		font-size: 24px;
		line-height: 34px;
		color: #1b0e20;
	}

	&-description {
		font-size: 16px;
		line-height: 25px;
		color: #2e2e2e;
		opacity: 0.8;
	}

	&-purchase-options {
		display: flex;
		flex-direction: column;

		.option-highlight {
			border: 4px solid;
		}

		&-item {
			background-color: #fff;
			border: 2px solid #2e2e2e;
			border-radius: 5px;
			display: flex;
			padding: 15px;
			text-align: left;
			margin: 5px 0;
			cursor: pointer;
			transition: opacity 0.2s;
			width: 80%;
			align-self: center;
			position: relative;

			&-actions {
				display: flex;
				flex-direction: column;
				position: absolute;
				left: -40px;
				top: 0;

				button {
					background: transparent;
					border: 0;
					padding: 0;
					width: 40px;
					cursor: pointer;

					&:focus,
					&:active {
						border: unset;
						color: unset;
						box-shadow: unset;
					}

					img {
						height: 25px;
						width: 25px;
					}
				}
			}

			&-info {
				padding-left: 2px;
				padding-right: 1em;
				border-right: 1px solid #e3e4e6;
				flex: 2;

				&-title {
					font-size: 18px;
					margin-bottom: 4px;
					color: #2e2e2e;
					cursor: auto;
				}

				&-description {
					font-size: 13px;
					color: #585858;
					cursor: auto;
				}
			}

			&-price {
				font-size: 17px;
				font-weight: 600;
				flex: 1;
				display: flex;
				flex-flow: column;
				align-self: center;
				color: #2e2e2e;
				cursor: auto;
				flex-direction: row;
				justify-content: center;
				margin-left: 5px;

				span {
					text-align: center;
				}

				&-icon {
					display: none;
					background: transparent;
					border: 0;
					cursor: pointer;

					&:focus {
						box-shadow: none;
						outline: unset;
					}
				}
			}
		}
	}

	&-option-manager {
		position: absolute;
		top: -15px;
		border: 2px solid;
		left: -345px;
		width: 300px;
		background: #fff;
		font-weight: bold;
		font-family: "Helvetica Neue", serif;

		&::after,
		&::before {
			left: 100%;
			top: 40%;
			border: solid transparent;
			content: " ";
			position: absolute;
			pointer-events: none;
		}

		&::after {
			border-color: transparent;
			border-left-color: #fff;
			border-width: 8px;
			margin-top: -28px;
		}

		&::before {
			border-color: transparent;
			border-left-color: #000;
			border-width: 10px;
			margin-top: -30px;
		}

		div {
			border: 0;
			border-color: #e3e4e6 !important; /* stylelint-disable-line declaration-no-important */
			border-bottom: 1px solid;
			height: 45px;
			font-size: 12px;
			text-align: left;
			display: table;
			width: 95%;
			padding-left: 5%;

			span {
				display: table-cell;
				vertical-align: middle;
			}

			button {
				cursor: pointer;
			}
		}

		div.rg-purchase-overlay-option-manager-entity-selection {
			select {
				border: 0;
				width: 100%;
				height: 100%;
				padding-left: 10px;
				display: table-cell;
				vertical-align: middle;
				margin: 0;
				background: #fff url(../img/select-down.svg) no-repeat right 15px top 55%;
				background-size: 13px 13px;

				&:focus {
					border: unset;
					color: unset;
					box-shadow: unset;
				}
			}
		}

		div.rg-purchase-overlay-option-manager-pricing,
		div.rg-purchase-overlay-option-manager-revenue {
			input[type="checkbox"] + .slider {
				background-color: #1e1e1e;
			}

			input[type="checkbox"] {
				opacity: 0;
				width: 0;
				height: 0;

				&:checked + .slider::before {
					transform: translateX(26px);
				}

			}

			.switch {
				position: relative;
				display: inline-block;
				margin: 0 15px 0 10px;
				height: 20px;

				.slider {
					position: absolute;
					cursor: pointer;
					top: 0;
					left: -5px;
					right: 0;
					bottom: 0;
					background-color: #ccc;
					transition: 0.4s;
					width: 35px;
					height: 20px;
					border-radius: 35px;

					&::before {
						position: absolute;
						content: "";
						height: 10px;
						width: 10px;
						left: 1px;
						top: 5px;
						background-color: #fff;
						transition: 0.4s;
						border-radius: 50%;
					}
				}
			}

			span {
				color: #1e1e1e;
				padding-left: 5px;
			}

			span.align-text {
				text-align: center;
			}

			button {
				background: transparent;
				border: 0;
				float: right;
				height: 100%;
				padding-right: 15px;
				cursor: pointer;

				img {
					width: 20px;
				}
			}
		}

		div.rg-purchase-overlay-option-manager-action {
			border-bottom: 0;

			button {
				width: 100%;
				height: 100%;
				background: transparent;
				cursor: pointer;
				text-align: left;
				padding-left: 10px;
				border: 0;
			}
		}

		button.rg-purchase-overlay-option-remove {
			text-transform: uppercase;
		}

		&-duration {
			select {
				border-radius: 0;
				font-weight: 400;
				border-color: #e3e4e6 !important; /* stylelint-disable-line declaration-no-important */
				height: 100%;
				background: #fff url(../img/select-down.svg) no-repeat right 5px top 55%;
				background-size: 13px 13px;
				padding: 0 0 0 8px;

				&:focus {
					border: unset;
					color: unset;
					box-shadow: unset;
				}
			}

			&-count {
				border: 0;
				width: 15%;
				border-right: 1px solid;
			}

			&-period {
				border: 0;
				width: 80%;
			}
		}
	}

	&-privacy {
		color: #333;
		opacity: 0.5;
		font-size: 13px;
		line-height: 20px;
		font-style: italic;
		display: flex;
		justify-content: center;
		width: 100%;

		a {
			color: inherit;
			text-decoration: underline;
		}
	}

	&-already-bought {
		color: #2e2e2e;
		opacity: 0.8;
		font-size: 15px;
		line-height: 26px;
		text-decoration: underline;
		display: block;
		margin-top: 8px;
	}

	&-option-area {
		height: 50px;
		cursor: pointer;
		display: flex;
		justify-content: center;

		&-add-option {
			display: none;
			margin-top: 10px;

			button {
				background: transparent;
				border: 0;
			}

			hr {
				border: 0;
				border-bottom: 2px solid #000;
				width: 150px;
				align-self: center;
				margin: 0 10px;
			}

			span {
				align-self: center;
			}
		}
	}
	.rev-gen-powered-by-footer {
		color: #2e2e2e;
		opacity: 0.4;
		font-size: 13px;
		line-height: 26px;
		margin: 0;
	}

	&-remove {
		display: none;
		background: transparent;
		border: 0;
		position: absolute;
		left: -40px;
		top: -5px;
		cursor: pointer;
	}

}

.overlay-border {
	border-radius: 5px;
	border: 3px solid #000;
}

@media (max-width: 1279px) {
	.rg-purchase-overlay {
		&-option-manager {
			top: -45px;
			left: -260px;
			width: 210px;

			div.rg-purchase-overlay-option-manager-entity-selection {
				select {
					font-size: 11px;
					font-weight: 500;
				}
			}

			div {
				font-size: 10px;
			}

			&-duration {

				&-count {
					width: 45px;
				}

				&-period {
					width: 75%;
				}
			}
		}
	}
}

@media (max-width: 1440px) {
	.rg-purchase-overlay {
		&-option-manager {
			top: -40px;
		}
	}
}
