@import "../vendor/shepherd";

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

.rev-gen-tutorial-card {
	width: 200px;
	font-family: $font-family;
	background-color: #fff;
	color: #333;
	padding: 30px 25px;
	border-radius: 5px;
	z-index: 999999;
	&[data-popper-placement="top"] {
		margin-bottom: 15px !important; /* stylelint-disable-line declaration-no-important */
	}
	&[data-popper-placement="bottom"] {
		margin-top: 15px !important; /* stylelint-disable-line declaration-no-important */
	}

	.info-link {
		color: #333;
		text-decoration: underline;
	}

	.shepherd-arrow {
		color: #fff;
		&::before {
			background: #fff;
		}
	}

	.shepherd-footer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 0 15px;
	}

	.shepherd-text {
		min-height: 35px;
		margin-bottom: 40px;
		font-family: $font-family;
		font-size: 14px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.35;
		color: #333;
		text-align: center;
		a {
			color: #333;
			text-decoration: underline;
		}
	}

	.shepherd-button {
		background: transparent;
		color: #1d1d1d;
		text-transform: uppercase;
		border: 0;
		cursor: pointer;
		padding: 0;
		font-family: HelveticaNeue, serif;
		font-size: 12px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.29;
		letter-spacing: normal;
		text-decoration: none !important; /* stylelint-disable-line declaration-no-important */
	}

	.shepherd-content-skip-tour {
		font-family: HelveticaNeue, serif;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.29;
		letter-spacing: normal;
		color: rgba(51, 51, 51, 0.5);
	}
}

.shepherd-modal-overlay-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.fade-in {
	animation: fadeIn ease 0.8;
	-webkit-animation: fadeIn ease 0.8s;
	-moz-animation: fadeIn ease 0.8s;
	-o-animation: fadeIn ease 0.8s;
	-ms-animation: fadeIn ease 0.8s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// Fade Out.
.fade-out {
	animation: fadeOut ease 0.8s;
	-webkit-animation: fadeOut ease 0.8s;
	-moz-animation: fadeOut ease 0.8s;
	-o-animation: fadeOut ease 0.8s;
	-ms-animation: fadeOut ease 0.8s;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
